<app-navbar></app-navbar>
<div class="main-component-content">
  <form class="text-center border border-light p-5" [formGroup]="registerForm">

    <p class="h4 mb-4">Rejestracja konta</p>

    <div class="md-form">
      <input mdbInput mdbValidate type="text" class="form-control" formControlName="login" placeholder="Login">
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate type="password" class="form-control" formControlName="password" placeholder="Haslo">
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate type="text" class="form-control" formControlName="firstName" placeholder="Imie">
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate type="text" class="form-control" formControlName="lastName" placeholder="Nazwisko">
    </div>

    <div class="md-form">
      <input mdbInput mdbValidate type="text" class="form-control" formControlName="age" placeholder="Wiek [lat]">
    </div>

    <!-- Sign in button -->
    <button class="btn btn-primary" type="submit" (click)="sendForm()">Zarejestruj</button>
  </form>
</div>
