<app-navbar></app-navbar>
<div class="main-component-content">

  <form class="text-center border border-light p-5" [formGroup]="changePasswordForm">
    <p class="h4 mb-4">Zmiana hasla</p>

    <!-- E-mail -->
    <div class="md-form">
      <input mdbInput mdbValidate type="text" id="password" class="form-control" formControlName="password"
             placeholder="Nowe haslo">
    </div>

    <button class="btn btn-primary" type="submit" (click)="sendForm()">Zaloguj</button>
    </form>
</div>
